@font-face {
	font-family: 'OpenSans';
  font-display: swap;
  font-weight: 400;
	src: url(./fonts/OpenSans-Regular.woff2),
    url(./fonts/OpenSans-Regular.woff);
}
@font-face {
	font-family: 'OpenSans';
  font-display: swap;
  font-weight: 700;
	src: url(./fonts/OpenSans-Bold.woff2),
    url(./fonts/OpenSans-Bold.woff);
}
html {
  font-family: 'OpenSans';
}
* {
  box-sizing: border-box;
  outline: none;
  /* font-family: 'Open Sans'; */
}
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
button {
  cursor: pointer;
}
body {
  position: relative;
  margin: 0;
  min-height: 100vh;
}
.blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #333;
  opacity: .8;
}
  /* header */
  .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  }
  .header-logo {
    margin-right: 53px;
  }
  .header-input {
    height: 44px;
    min-width: 581px;
    padding: 0;
    padding-left: 15px;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgba(51, 51, 51, 0.2);
    transform: translateY(3px);
  }
  .header-input::placeholder {
    color: #B0B0B0;
  }
  /* main */
  .section-main {
    padding-top: 33px;
    background-color: #F5F5F5;
    min-height: 100%;

  }
  .container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-width: 1366px;
    padding-left: 90px;
    padding-right: 90px;
    margin: auto;
    min-height: 100%;
  }
  .table, td, tr, th {
    margin-bottom: 40px;
    border-collapse: collapse;
    font-weight: 400;
  }
  th {
    padding-top: 2px;
    padding-bottom: 11px;
    text-align: left;
    font-size: 12px;
    color: #B0B0B0;
  }
  td {
    padding-top: 19px;
    padding-bottom: 21px;
    padding-left: 0;
    padding-right: 0;
  }
  .titleClients {
    margin-bottom: 28px;
    font-size: 24px;
    transform: translateX(-1px);
  }
  .trClient {
    font-size: 14px;
    background-color: #fff;
    border-bottom: 1px solid #C8C5D1;
  }
  .table {
    width: 100%;
  }
  .btnSort {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 12px;
    color: #B0B0B0;
    transition: color .3s ease-in-out;
  }
  .btnSort:hover {
    color: #333;
  }
  .btnSort:focus {
    color: #9873FF;
  }
  .btnSortRotate > svg {
    transform: rotate(180deg);
  }
  .btnSortId {
    padding-left: 18px;
    max-width: 93px;
  }
  .btnSortDate, .btnSortChange {
    width: 170px;
  }
  .btnSortSMNSpan {
    padding: 0;
    color: #9873FF;
    font-size: 10px;
  }
  .tdId {
    font-size: 12px;
    color: #B0B0B0;
    padding-left: 5px;
    padding-right: 6px;
  }
  .tdSNL {
    padding-right: 39px;
  }
  .tdDateChange, .tdDateCreate {
    max-width: 175px;
  }
  .tdContacts {
    max-width: 160px;
    padding-left: 2px;
    padding-right: 47px;
  }
  .dateChangeSpan, .dateCreateSpan {
    margin-right: 7px;
  }
  .timeChangeSpan, .timeCreateSpan {
    color: #B0B0B0;
  }
  .btnAddClient {
    min-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 26.5px;
    padding-right: 26.5px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #9873FF;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #9873FF;
    transition: all .3s ease-in-out;
  }
  .btnAddClient > svg > path {
    transition: fill .3s ease-in-out;
  }
  .btnAddClient:hover {
    color: #fff;
    background-color: #9873FF;
  }
  .btnAddClient:hover > svg > path {
    fill: #fff;
  }
  /* Форма добавления */
  .formCreateChange {
    display: flex;
    flex-direction: column;
  }
  .newClientDiv, .changeClientDiv {
    display: none;
  }
  .newClientDivOpen {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 450px;
    min-height: 396px;
    padding: 25px 30px;
    margin-bottom: 100px;
    background-color: white;
    z-index: 3;
    transform: translate(-50%, -50%);
  }
  .changeClientDivOpen {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 25px 30px;
    margin-bottom: 100px;
    background-color: #fff;
    z-index: 3;
    transform: translate(-50%, -50%);
  }
  .formTitle {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .formTitleNew {
    margin-right: auto;
  }
  .input-add {
    /* margin-bottom: 32px; */
    padding-bottom: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #C8C5D1;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
  }
  .errorInput {
    border-color: #F06A4D;
  }
  .errorSpan {
    color: transparent;
    padding-bottom: 32px;
  }
  .errorSpanActive {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #F06A4D;
  }
  .btnAddContact {
    width: 450px;
    margin-bottom: 25px;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 600;
    background-color: #C8C5D1;
    border: none;
    background-image: url('./img/добавитьКонтакт.png');
    background-position: 142px 11px;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    transform: translateX(-30px);
  }
  .btnAddContact:hover {
    color: #9873FF;
    background-image: url('./img/добавитьКонтактHover.png');

  }
  .btn-save {
    width: 147px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    padding: 11.5px 34px;
    border: 1px solid #9873FF;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #9873FF;
    transition: all .3s ease-in-out;
  }
  .btn-save:hover {
    color: #9873FF;
    background-color: #fff;
  }
  .btn-close, .btnDeleteChange {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    transition: all .3s ease-in-out;
  }
  .btn-close:hover, .btnDeleteChange:hover {
    color: #9873FF;
    border-color: #9873FF;
  }
  .changeButton {
    margin-right: 32px;
  }
  .changeButton, .deleteButton {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 14px;
    transition: color .3s ease-in-out;
  }
  .deleteButton {
    padding-right: 20px;
  }
  .deleteButton:hover {
    color: #F06A4D;
  }
  .changeButton:hover {
    color: #9873FF;
  }
  .changingId {
    margin-right: auto;
    padding-left: 9px;
    font-size: 12px;
    color: #B0B0B0;
    transform: translateY(5px);
  }
  .spanChangeClient {
    color: #B0B0B0;
    font-size: 10px;
  }
  .closeBtn {
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    background-position: center center;
  }
  .closeBtn > svg > path {
    transition: fill .3s ease-in-out;
  }
  .closeBtn:hover > svg > path {
    fill: #F06A4D;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .contactForm {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
  .contactsInput {
    width: 100%;
    max-width: 240px;
    border: 1px solid #C8C5D1;
    border-right: none;
    font-weight: 600;
  }
  .btnCloseFormContact {
    width: 27px;
    padding: 0;
    border: 1px solid #C8C5D1;
    background-color: #E7E5EB;
    background-image: url('./img/CloseForm.png');
    background-position: 5px 9px;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
  }
  .btnCloseFormContact:hover {
    background-image: url('./img/CloseFormHover.png');
    border-color: #F06A4D;
  }
  /*  */
  .choices[data-type*=select-one]:after {
    display: none;
  }
  .choices__item [data-id="1"] {
    display: none;
  }
  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
  }
  .choices__inner {
    position: relative;
    padding: 0;
    min-height: auto;
    border: 1px solid #C8C5D1;
    /* z-index: 2; */
    background-image: url("../img/закрытыйСписок.png");
    background-repeat: no-repeat;
    background-position: 105px 12px;
    background-color: #E7E5EB;
    border-radius: 0;
  }
  .choices__list--dropdown {
    position: absolute;
    /* z-index: 1; */
    border-radius: 0;
  }
  .is-open .choices__inner{
    background-image: url("../img/открытыйСписок.png");
  }
  .is-open .choices__list--dropdown {
    /* margin-top: -37px; */
    border: 1px solid #C8C5D1;
    background-color: #F4F3F6;
  }
  .choices__item {
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    transition: background-color .3s ease-in-out;
  }
  .choices__item:hover {
    background-color: #E7E5EB;
  }
  .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    display: none;
  }
  .choices[data-type*=select-one] .choices__inner {
    width: 123px;
    height: 37px;
  }
  .choices[data-type*=select-one] {
    margin: 0;
    width: 123px;
    height: 37px;
  }
  .choices__list--dropdown {
      width: 123px;
  }
  .choices__list.choices__list--single {
    padding: 0;
    padding-left: 10px;
    padding-top: 10px;
  }
  .choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
  }
  .choices__list--single .choices__item::placeholder {
    color: #333333;
  }
  /*  */
  /*  */
  .tooltip {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: #9873FF;
    border-radius: 8px;
    outline: none;
  }
  .tdContacts .tooltip:not(:nth-child(5)) {
    margin-right: 7px;
  }
  .tippy-tooltip.default-theme {
    background-color: #333;
    color: white;
    border-radius: 0;
    max-width: 264px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
    border-color: #333;
  }
  .tippy-tooltip.default-theme > .tippy-arrow {
    border-top-color: #333;
    border-bottom-color: #333;
  }
  .tippy-tooltip.default-theme > .tippy-arrow:after {
    border-top-color: #333;
    border-bottom-color: #333;
  }
  .tippy-tooltip.default-theme > .tippy-arrow:before {
    border-top-color: #333;
    border-bottom-color: #333;
  }
  .tooltipPhone {
    background-color: transparent;
    background-image: url('./img/PHONE.png');
  }
  .tooltipVk {
    background-color: transparent;
    background-image: url('./img/VK.png');
  }
  .tooltipFb {
    background-color: transparent;
    background-image: url('./img/FB.png');
  }
  .tooltipEmail {
    background-color: transparent;
    background-image: url('./img/EMAIL.png');
  }
  .tooltipOther {
    background-color: transparent;
    background-image: url('./img/OTHER.png');
  }
  .tooltipHidden {
    display: none;
  }
  .btnOpenTooltips {
    width: 16px;
    height: 16px;
    padding: 0;
    padding-bottom: 1px;
    font-size: 8px;
    background-color: transparent;
    border: 1px solid #9873FF;
    border-radius: 8px;
    transform: translateY(-5px);
  }
  /*  */
  /*  */
  .js-validate-error-label {
    left: 0px;
    padding-left: 20px;
    color: #F06A4D !important;
    font-size: 12px;
    transform: translateY(-30px);
  }
  .js-validate-error-field {
    border: none !important;
    border-bottom: 1px solid #F06A4D !important;
  }
@media (max-width: 1360px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .titleClients {
    margin-bottom: 22px;
  }
  th {
    padding-bottom: 3px;
  }
  .btnSort {
    display: block;
    width: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 12px;
    color: #B0B0B0;
    transition: color .3s ease-in-out;
  }
  .btnSortId {
    padding-left: 18px;
    max-width: 93px;
  }
  .btnSortDate, .btnSortChange {
    width: auto;
    max-width: 85px;
  }
  .tdId {
    font-size: 12px;
    color: #B0B0B0;
    padding-left: 0;
    padding-right: 0;
  }
  .tdSNL {
    max-width: 225px;
    padding-right: 10px;
  }
  .tdDateChange, .tdDateCreate {
    max-width: none;
    padding-right: 28px;
  }
  .tdContacts {
    min-width: 125px;
    padding-right: 42px;
  }
  .tdActions {
    min-width: 207px !important;
  }
}